.cardContainer {
  @include card;
  @include card-hover;
  overflow: hidden;
}

.cardImage {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.cardContent {
  padding: $spacing-lg;
}

.countryName {
  margin-bottom: $spacing-md;
}

.detailLabel {
  font-weight: $font-weight-bold;
}
