@use "./variables.scss" as *;

// flex
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: cener;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// responsive
@mixin mobile {
  @media (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

// card
@mixin card {
  background: var(--color-elements);
  border-radius: $border-radius-md;
  box-shadow: $shadow-md;
}

@mixin card-hover {
  transition: transform $transition-normal, box-shadow $transition-normal;

  &:hover {
    transform: translateY(-4px);
    box-shadow: $shadow-lg;
  }
}

// container
@mixin container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0, $spacing-md;

  @include desktop {
    padding: 0 $spacing-xl;
  }
}

@mixin transition($properties...) {
  transition-property: $properties;
  transition-duration: $transition-normal;
}

// text
@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// a11y
@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
