@use "../abstracts/variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

body {
  font-family: $font-family;
  font-size: $font-size-homepage;
  font-weight: $font-weight-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
  line-height: 1.2;
}

strong,
b {
  font-weight: $font-weight-semibold;
}
